hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 1px 32px 0 rgba( 31, 38, 135, 0.09 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bg-graphic {
  background-image: url("graphic.jpg");
}

.btn-info {
  background-color: #521ec3;
  border-color: #6631d8;
}

.btn-info:hover {
  color: #fff;
  background-color: #815bd2;
  border-color: #6b43c2;
}

/* psuedo-selector */
